.header {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  padding: 0 20px;

  @include media(large) {
    flex-direction: row;
  }

  &__logo {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 999;
    max-width: 170px;
    height: 100px;

    &--inactive & {
      &__image {
        opacity: 0;
      }
    }

    &__image {
      position: relative;
      opacity: 1;
      z-index: 999999;
      transition: opacity 0.2s ease-in-out;
      width: 100%;

      .header__logo--square &,
      .header__logo--portrait & {
        width: auto;
        height: 100%;
      }
    }

    @include media(large) {
      &:before {
        display: flex;
        position: absolute;
        top: -100px;
        left: -250px;
        transform: rotate(-40deg);
        z-index: 0;
        background-color: white;
        width: 687px;
        height: 300px;
        content: "";
      }
    }

    @include media(large) {
      &:after {
        display: flex;
        position: absolute;
        top: -30px;
        left: -16px;
        transform: rotate(5.5deg);
        background: url("fold.svg") no-repeat;
        background-size: cover;
        width: 400px;
        height: 400px;
        content: "";
      }
    }
  }

  &__title {
    display: block;
    margin-top: 50px;
    font-size: 18px;
    font-weight: var(--font-weight--medium);
    text-align: center;

    @include media(medium) {
      text-align: left;
    }

    @include media(large) {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0;
      text-align: center;
    }

    span {
      display: block;
      visibility: hidden;

      @include media(medium) {
        display: inline;
        visibility: visible;
      }
    }
  }

  &__share {
    display: none;

    @include media(large) {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      cursor: pointer;
      width: 30px;
      height: 30px;

      svg {
        fill: $light-theme-color;
        position: relative;
        top: -3px;
        transform: rotate(-90deg);
      }

      &:focus,
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
