{{!
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
}}
<title>
  {{model.title}}
  · Recruitment highlights
</title>
<meta property="og:image" content={{model.image}} />
<meta property="og:title" content="{{model.title}} · Recruitment Highlights " />
<meta property="og:description" content="Check out some of the results from our recruitment efforts in 2019." />
