<CompanyStyles @metadata={{@model.metadata}} />
  <ThemeWrapper @theme={{theme}}>
  <div class="sharing-image">
    <section class="cover">
      <h1 class="header__title">{{@model.metadata.name}} · Recruitment highlights</h1>
      <h2 class="cover__headline u-text-shadow a__zoomin">
        2019 <span class="u-text-shadow--small u-box-shadow">· Year in review ·</span>
      </h2>
    </section>
  </div>
</ThemeWrapper>
